<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/header.css">
    <nav>
        <title>BARBER SHOP Cut&Go</title>
    </nav>

</head>

<body>
    <header>
        <h1>BARBER SHOP Cut&Go</h1>
        <img src="../../images/72c89f2f.jpg" alt="BARBER SHOP NDT LOGO">
    </header>
    <nav>

        <ul>
            <li><a href="">Strona główna</a></li>
            <li><a href="" class="active">Klient</a></li>
            <li><a href="">Wizyta</a></li>
            <li><a href="">Usługa</a></li>
        </ul>
    </nav>
    <main>
        <h2>Lista klientów</h2>
        <p>
            Brak rekordów do wyświetlenia
        </p>

        <p><a href="" Dodaj nowego klienta></a></p>

    </main>

    <footer>
        Duc Tu Nguyen s20470
    </footer>

</body>

</html>